[Desktop Entry]
Name=Synology Chat
Comment=Chat application is the desktop client software of Synology Chat.
Exec="/opt/Synology Chat/synochat" %U
Terminal=false
Type=Application
Icon=synochat
Categories=Application;
StartupWMClass=Synology Chat
